<div class="container ">
    <div class="row ">
        <div class="col s5">
            <div class="card center-align">
                <div class="card-content">
                    <form  #prodForm="ngForm" (ngSubmit)="addProd(prodForm)">
                        <input type="hidden" name="_id" #_id ="ngModel"[(ngModel)]="ProductoService.selectedProd._id" >
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="ProductoService.selectedProd.nombre" placeholder="Ingresa el nombre del producto">
                                <input type="text" name="marca" #marca="ngModel" [(ngModel)]="ProductoService.selectedProd.marca" placeholder="Ingresa la marca del producto">
                                <input type="number" name="cantidad" #cantidad="ngModel" [(ngModel)]="ProductoService.selectedProd.cantidad" placeholder="Ingresa la cantidad de producto">
                                <input type="number" name="precio" #precio="ngModel" [(ngModel)]="ProductoService.selectedProd.precio" placeholder="Ingresa el precio del producto">
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn left">Guardar</button>
                                    <button class="btn right" (click)="resetForm(prodForm)">Limpiar </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Operaciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of ProductoService.productos">
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.marca}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>{{producto.precio}}</td>
                        <td>
                            <a (click)="editProd(producto)" style="margin-left: 10px;">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteProd(producto._id)" style="margin-left: 25px;">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>